matplotlib==3.10.0
numpy==1.26.2
scikit-learn==1.6.1
pandas==2.2.3
seaborn==0.13.2
tensorflow==2.18.0
keras==3.8.0
torch==2.5.1
debugpy==1.8.12
dice-ml==0.11
mmd-critic==0.1.2
umap-learn==0.5.7
raiutils==0.4.2
tqdm==0.67.1